.btn {
  display: block;
  width: max-content;
  max-width: 100%;
  padding: 0.69rem 1.38rem;
  border: 0.0625rem solid #000064;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  line-height: 142.085%;
  color: $primaryColor;
  text-align: center;
  cursor: pointer;
  transition: 0.4s all;
  &:hover {
    background: $primaryColor;
    color: #fff;
  }
  &--fill, &--grey {
    border-radius: 3.4375rem;
  }
  &--fill {
    padding: 0.84rem 1.57rem 0.8rem;
    background: $primaryColor2;
    line-height: normal;
    color: #fff;
    &:hover {
      color: $primaryColor2;
      background: transparent;
    }
  }
  &--grey {
    padding: 0.74rem 1.57rem 0.7rem;
    border-color: #767E88;
    color: #767E88;
    &:hover {
      background: #767E88;
    }
  }
  &--phone {
    position: relative;
    padding-left: 3rem;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.94rem;
      transform: translateY(-50%);
      width: 1.125rem;
      height: 1.125rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.4877 11.126C15.0903 10.7296 14.5604 10.5113 13.9953 10.5113C13.4302 10.5113 12.9002 10.7296 12.5029 11.126L12.0498 11.5781C11.8007 11.8265 11.3956 11.8265 11.1466 11.5781L6.39656 6.83888C6.27643 6.71907 6.21032 6.55904 6.21032 6.38827C6.21032 6.2175 6.27647 6.05747 6.39656 5.93769L6.84966 5.48562C7.67255 4.66461 7.67255 3.32872 6.84966 2.50767L4.9534 0.615774C4.13048 -0.205279 2.79158 -0.205237 1.96865 0.615774C1.84565 0.738492 1.73624 0.845042 1.6304 0.948109C1.08185 1.48235 0.75071 1.80482 0.305213 2.67719C-0.279821 3.82279 -0.0205675 5.51697 1.05505 7.57656C1.99192 9.37053 3.4925 11.3409 5.28035 13.1247C7.00137 14.8419 8.86206 16.2479 10.5197 17.0838C11.7276 17.6929 12.8251 18 13.7695 18C14.3459 18 14.8653 17.8856 15.3178 17.6555C16.1922 17.211 16.5155 16.8806 17.051 16.3332C17.1542 16.2277 17.261 16.1186 17.3839 15.9959C17.7813 15.5995 18 15.0707 18 14.5069C18 13.9431 17.7812 13.4144 17.3839 13.018L15.4877 11.126ZM16.7962 15.4095C16.6697 15.5357 16.5563 15.6517 16.4562 15.754C15.9481 16.2734 15.693 16.5341 14.9404 16.9167C14.5904 17.0946 14.1922 17.1768 13.7577 17.1767C11.5309 17.1766 8.35407 15.0189 5.868 12.5384C4.13841 10.8126 2.69085 8.91444 1.79204 7.19336C0.859456 5.40747 0.594385 3.9373 1.0457 3.05352C1.42911 2.30274 1.69036 2.0483 2.21086 1.54139C2.31346 1.44147 2.42973 1.32825 2.5563 1.202C2.80575 0.953125 3.13335 0.828707 3.461 0.828707C3.78861 0.828707 4.11631 0.953167 4.36567 1.20196L6.26193 3.09386C6.76078 3.59161 6.76082 4.40151 6.26193 4.89919L5.80883 5.35125C5.23576 5.92302 5.23576 6.85331 5.80883 7.42507L10.5589 12.1642C11.1318 12.736 12.0643 12.736 12.6374 12.1642L13.0905 11.7122C13.3308 11.4724 13.6522 11.3403 13.9952 11.3403C14.3383 11.3403 14.6596 11.4724 14.8999 11.7122L16.7961 13.6041C17.0365 13.8439 17.1688 14.1645 17.1688 14.5068C17.169 14.8492 17.0366 15.1697 16.7962 15.4095Z' fill='%23000064'/%3E%3C/svg%3E") no-repeat center / contain;
      transition: inherit;
    }
    &:hover {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.4877 11.126C15.0903 10.7296 14.5604 10.5113 13.9953 10.5113C13.4302 10.5113 12.9002 10.7296 12.5029 11.126L12.0498 11.5781C11.8007 11.8265 11.3956 11.8265 11.1466 11.5781L6.39656 6.83888C6.27643 6.71907 6.21032 6.55904 6.21032 6.38827C6.21032 6.2175 6.27647 6.05747 6.39656 5.93769L6.84966 5.48562C7.67255 4.66461 7.67255 3.32872 6.84966 2.50767L4.9534 0.615774C4.13048 -0.205279 2.79158 -0.205237 1.96865 0.615774C1.84565 0.738492 1.73624 0.845042 1.6304 0.948109C1.08185 1.48235 0.75071 1.80482 0.305213 2.67719C-0.279821 3.82279 -0.0205675 5.51697 1.05505 7.57656C1.99192 9.37053 3.4925 11.3409 5.28035 13.1247C7.00137 14.8419 8.86206 16.2479 10.5197 17.0838C11.7276 17.6929 12.8251 18 13.7695 18C14.3459 18 14.8653 17.8856 15.3178 17.6555C16.1922 17.211 16.5155 16.8806 17.051 16.3332C17.1542 16.2277 17.261 16.1186 17.3839 15.9959C17.7813 15.5995 18 15.0707 18 14.5069C18 13.9431 17.7812 13.4144 17.3839 13.018L15.4877 11.126ZM16.7962 15.4095C16.6697 15.5357 16.5563 15.6517 16.4562 15.754C15.9481 16.2734 15.693 16.5341 14.9404 16.9167C14.5904 17.0946 14.1922 17.1768 13.7577 17.1767C11.5309 17.1766 8.35407 15.0189 5.868 12.5384C4.13841 10.8126 2.69085 8.91444 1.79204 7.19336C0.859456 5.40747 0.594385 3.9373 1.0457 3.05352C1.42911 2.30274 1.69036 2.0483 2.21086 1.54139C2.31346 1.44147 2.42973 1.32825 2.5563 1.202C2.80575 0.953125 3.13335 0.828707 3.461 0.828707C3.78861 0.828707 4.11631 0.953167 4.36567 1.20196L6.26193 3.09386C6.76078 3.59161 6.76082 4.40151 6.26193 4.89919L5.80883 5.35125C5.23576 5.92302 5.23576 6.85331 5.80883 7.42507L10.5589 12.1642C11.1318 12.736 12.0643 12.736 12.6374 12.1642L13.0905 11.7122C13.3308 11.4724 13.6522 11.3403 13.9952 11.3403C14.3383 11.3403 14.6596 11.4724 14.8999 11.7122L16.7961 13.6041C17.0365 13.8439 17.1688 14.1645 17.1688 14.5068C17.169 14.8492 17.0366 15.1697 16.7962 15.4095Z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }
}