.up-btn {
  position: fixed;
  bottom: 3rem;
  left: 1.56rem;
  z-index: 10;
  width: 4rem;
  height: 4rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='15' viewBox='0 0 28 15' fill='none'%3E%3Cpath d='M-4.88968e-05 12.587L11.2834 1.02832C11.9263 0.369887 12.7982 -6.54187e-07 13.7074 -6.13478e-07C14.6165 -5.72769e-07 15.4884 0.369888 16.1314 1.02832L27.408 12.5799L25.792 14.2353L14.5154 2.68374C14.3011 2.46426 14.0104 2.34096 13.7074 2.34096C13.4043 2.34096 13.1137 2.46426 12.8994 2.68374L1.61595 14.2424L-4.88968e-05 12.587Z' fill='white'/%3E%3C/svg%3E") $primaryColor2 no-repeat center / 50%;
  border-radius: 100%;
  transition: 0.4s all;
  &:hover {
    background-color: darken($primaryColor2, 5%);
    transform: scale(1.1);
  }
  &:not(&--show) {
    opacity: 0;
    visibility: hidden;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .up-btn {
    left: auto;
    right: 1.2rem;
    bottom: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0 0 1rem rgba(#fff, 0.25);
  }
}

@media (max-width: 480px) {
  .up-btn {
    bottom: 1.2rem;
    width: 3rem;
    height: 3rem;
  }
}