// ===================================
// hero-section
// ===================================
.hero-section {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5.38rem;
    padding: 16.69rem 8.69rem 7rem 4.06rem;
  }
  &__title {
    max-width: 47.5rem;
    margin-left: auto;
    color: #FFF;
    font-size: 6.125rem;
    font-weight: 700;
    line-height: 108%;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .hero-section {
    &__container {
      gap: 11.06rem;
      padding: 22.5rem 2.31rem 5.44rem 2.19rem;
    }
    &__title {
      max-width: 31.9375rem;
      font-size: 4rem;
      line-height: 4.625rem;
    }
  } 
}

@media (max-width: 480px) {
  .hero-section {
    &__container {
      width: 90.83%;
      margin: 0 auto;
      gap: 3.5rem;
      padding: 16.5rem 0 4.12rem;
    }
    &__title {
      max-width: 24.5625rem;
      margin: 0 auto;
      font-size: 3rem;
      line-height: normal;
    }
  } 
}





// ===================================
// about-section
// ===================================
.about-section {
  &__container {
    padding-top: 5.19rem;
    padding-bottom: 4.9rem;
  }
}
@media (max-width: 768px) {
  .about-section {
    &__container {
      padding-top: 4.69rem;
      padding-bottom: 3.28rem;
    }
  }
}
@media (max-width: 480px) {
  .about-section {
    &__container {
      padding-top: 3.94rem;
      padding-bottom: 2.72rem;
    }
  }
}





// ===================================
// brands-section
// ===================================
.brands-section {
  &__container {
    padding-top: 4.9rem;
    padding-bottom: 3.165rem;
  }
  &__promos {
    &:not(:first-child) {
      margin-top: 5.69rem;
    }
  }
}

@media (max-width: 768px) {
  .brands-section {
    &__container {
      padding-top: 3.28rem;
      padding-bottom: 3.75rem;
    }
    &__promos {
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .brands-section {
    &__container {
      padding-top: 2.72rem;
      padding-bottom: 3.96rem;
    }
    &__promos {
      &:not(:first-child) {
        margin-top: 2.7rem;
      }
    }
  }
}