// ===================================
// hero-section
// ===================================
.hero-section {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5.38rem;
    padding: 16.69rem 8.69rem 7rem 4.06rem;
  }
  &__title {
    max-width: 47.5rem;
    margin-left: auto;
    color: #FFF;
    font-size: 6.125rem;
    font-weight: 700;
    line-height: 108%;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .hero-section {
    &__container {
      gap: 11.06rem;
      padding: 22.5rem 2.31rem 5.44rem 2.19rem;
    }
    &__title {
      max-width: 31.9375rem;
      font-size: 4rem;
      line-height: 4.625rem;
    }
  } 
}

@media (max-width: 480px) {
  .hero-section {
    &__container {
      width: 90.83%;
      margin: 0 auto;
      gap: 3.5rem;
      padding: 16.5rem 0 4.12rem;
    }
    &__title {
      max-width: 24.5625rem;
      margin: 0 auto;
      font-size: 3rem;
      line-height: normal;
    }
  } 
}





// ===================================
// about-section
// ===================================
.about-section {
  &__container {
    padding-top: 5.19rem;
    padding-bottom: 4.9rem;
  }
}
@media (max-width: 768px) {
  .about-section {
    &__container {
      padding-top: 4.69rem;
      padding-bottom: 3.28rem;
    }
  }
}
@media (max-width: 480px) {
  .about-section {
    &__container {
      padding-top: 3.94rem;
      padding-bottom: 2.72rem;
    }
  }
}





// ===================================
// brands-section
// ===================================
.brands-section {
  &__container {
    padding-top: 4.9rem;
    padding-bottom: 3.165rem;
  }
  &__promos {
    &:not(:first-child) {
      margin-top: 5.69rem;
    }
  }
}

@media (max-width: 768px) {
  .brands-section {
    &__container {
      padding-top: 3.28rem;
      padding-bottom: 3.75rem;
    }
    &__promos {
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .brands-section {
    &__container {
      padding-top: 2.72rem;
      padding-bottom: 3.96rem;
    }
    &__promos {
      &:not(:first-child) {
        margin-top: 2.7rem;
      }
    }
  }
}





// ===================================
// logos-section
// ===================================
.logos-section {
  padding-top: 3.165rem;
  padding-bottom: 5.565rem;
  &__images-carousel {
    &:not(:first-child) {
      margin-top: 4.64rem;
    }
  }
}

@media (max-width: 768px) {
  .logos-section {
    padding-top: 3.75rem;
    padding-bottom: 4.385rem;
    &__images-carousel {
      &:not(:first-child) {
        margin-top: 3.39rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .logos-section {
    padding-top: 3.96rem;
    padding-bottom: 4.11rem;
    &__images-carousel {
      &:not(:first-child) {
        margin-top: 2.63rem;
      }
    }
  }
}





// ===================================
// opportunities-section
// ===================================
.opportunities-section {
  padding-top: 5.565rem;
  padding-bottom: 3.71rem;
  overflow: hidden;
  &__chess-content {
    &:not(:first-child) {
      margin-top: 4.71rem;
    }
  }
}

@media (max-width: 768px) {
  .opportunities-section {
    padding-top: 4.385rem;
    padding-bottom: 4.065rem;
    &__chess-content {
      &:not(:first-child) {
        margin-top: 3.63rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .opportunities-section {
    padding-top: 4.11rem;
    padding-bottom: 4.375rem;
    &__chess-content {
      &:not(:first-child) {
        margin-top: 4.06rem;
      }
    }
  }
}





// ===================================
// projects-section
// ===================================
.projects-section {
  padding-top: 3.71rem;
  padding-bottom: 2.44rem;
  &__expandable-list {
    &:not(:first-child) {
      margin-top: 4.71rem;
    }
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding-top: 4.065rem;
    padding-bottom: 2.095rem;
    &__expandable-list {
      &:not(:first-child) {
        margin-top: 3.62rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .projects-section {
    padding-top: 4.375rem;
    padding-bottom: 1.815rem;
    &__expandable-list {
      &:not(:first-child) {
        margin-top: 4.06rem;
      }
    }
  }
}





// ===================================
// team-section
// ===================================
.team-section {
  padding-top: 2.44rem;
  padding-bottom: 4.63rem;
  overflow: hidden;
  &__promos {
    &:not(:first-child) {
      margin-top: 5.5rem;
    }
  }
  &__cards {
    &:not(:first-child) {
      margin-top: 3.5rem;
    }
    .splide__track {
      overflow: visible;
    }
  }
}

@media (max-width: 768px) {
  .team-section {
    padding-top: 2.095rem;
    padding-bottom: 3.94rem;
    &__promos {
      &:not(:first-child) {
        margin-top: 2.81rem;
      }
    }
    &__cards {
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .team-section {
    padding-top: 1.815rem;
    padding-bottom: 3.67rem;
    &__promos {
      &:not(:first-child) {
        margin-top: 3.12rem;
      }
    }
    &__cards {
      &:not(:first-child) {
        margin-top: 2.63rem;
      }
    }
  }
}





// ===================================
// service-section
// ===================================
.service-section {
  padding-top: 4.25rem;
  padding-bottom: 10.5rem;
  &__row {
    display: flex;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 3.63rem;
    }
  }
  &__contacts {
    max-width: 15.6875rem;
    align-self: flex-end;
    @extend %flex-column;
    gap: 1.44rem;
    color: #fff;
    @media (min-width: 769px) {
      &-btn {
        display: none;
      }
    }
  }
  &__advantages {
    flex-grow: 1;
    max-width: 49.25rem;
    display: flex;
    flex-direction: column;
    gap: 8.38rem;
  }
  &__text {
    max-width: 33.1875rem;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .service-section {
    padding-bottom: 4.5rem;
    &__row {
      gap: 2rem;
      &:not(:first-child) {
        margin-top: 3.31rem;
      }
    }
    &__contacts {
      max-width: 29.89%;
      line-height: 142.085%;
    }
    &__advantages {
      max-width: 100%;
      gap: 5.19rem;
    }
    &__text {
      align-self: flex-end;
      max-width: 25.1875rem;
      line-height: 142.085%;
    }
  }
}

@media (max-width: 480px) {
  .service-section {
    padding-top: 4.38rem;
    padding-bottom: 4.81rem;
    &__row {
      flex-direction: column-reverse;
      gap: 5.94rem;
      &:not(:first-child) {
        margin-top: 2.56rem;
      }
    }
    &__contacts {
      max-width: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center; 
      justify-content: space-between;
      &-text {
        max-width: 13rem;
      }
    }
    &__advantages {
      gap: 3.94rem;
      .border-blocks {
        width: calc(100% + (0.5rem * 2));
        transform: translateX(-0.5rem);
      }
    }
    &__text {
      max-width: 100%;
    }
  }
}





// ===================================
// contacts-section
// ===================================
.contacts-section {
  padding-top: 5.37rem;
  &__contacts {
    padding-top: 5.56rem;
    padding-bottom: 4.69rem;
  }
  &__map {
    height: 21.1875rem;
  }
}

@media (max-width: 768px) {
  .contacts-section {
    padding-top: 3.75rem;
    &__contacts {
      padding-top: 3.69rem;
      padding-bottom: 2.94rem;
    }
    &__map {
      height: 16.75rem;
    }
  }
}

@media (max-width: 480px) {
  .contacts-section {
    &__contacts {
      padding-bottom: 4.63rem;
    }
  }
}