.media-content {
  display: flex;
  align-items: flex-start;
  gap: 5.75rem;
  &__media {
    flex: 0 0 42.5rem;
    @extend %proportional-media;
    padding-bottom: 34.632%;
    &:only-child {
      margin: 0 auto;
    }
    img, video {
      border-radius: 2.1875rem;
    }
    &--player {
      cursor: pointer;
      transition: 0.4s all;
      img, video {
        transition: inherit;
      }
      &::before, &::after {
        content: '';
        position: absolute;
        z-index: 2;
        border-radius: 100%;
        transition: inherit;
      }
      &::before {
        width: 7.875rem;
        height: 7.875rem;
        bottom: 3.23rem;
        right: -3.12rem;
        border: 0.04375rem solid $primaryColor;
        animation: pulse 1.3s infinite;
      }
      &::after {
        bottom: 4.1rem;
        right: -2.25rem;
        width: 6.125rem;
        height: 6.125rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 20' fill='none'%3E%3Cpath d='M17 10.2627L0.499999 19.789L0.5 0.736415L17 10.2627Z' fill='white'/%3E%3C/svg%3E") $primaryColor no-repeat center / 20%;
      }
      &:hover {
        img {
          filter: brightness(0.7);
        }
        &::before {
          transform: scale(0.8);
        }
        &::after {
          transform: scale(1.2);
        }
      }
    }
  }
  &__content {
    padding-top: 0.95rem;
    @extend %flex-column;
    gap: 2.8rem;
    &-title {
      font-size: 2.25rem;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .media-content {
    gap: 2.81rem;
    &__media {
      flex: 0 0 48.35%;
      padding-bottom: 32.327%;
      img, video {
        border-radius: 2rem;
      }
      &--player {
        &::before {
          width: 5rem;
          height: 5rem;
          bottom: 1.005rem;
          right: -1.995rem;
        }
        &::after {
          bottom: 1.5rem;
          right: -1.5rem;
          width: 4rem;
          height: 4rem;
        }
      }
    }
    &__content {
      padding-top: 0;
      gap: 1.88rem;
      &-title {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .media-content {
    flex-direction: column;
    gap: 2.69rem;
    &__media {
      flex: auto;
      width: 100%;
      padding-bottom: 67.437%;
      img, video {
        border-radius: 2.1875rem;
      }
      &--player {
        &::before {
          width: 6rem;
          height: 6rem;
          bottom: -2.195rem;
          right: 1.505rem;
        }
        &::after {
          bottom: -1.7rem;
          right: 2rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }
    &__content {
      gap: 1.69rem;
    }
  }
}